{{ define "main" }}
<div
    style="text-align: center; display: flex; justify-content: center; flex-direction: column; align-items: center; height: 50vh;">
    <img src="/images/portrait.jpeg" alt="Picture of Ville Lindholm"
        style="border-radius: 50%; width: 150px; height: 150px;" />
    <hgroup>
        <h1>Ville Lindholm</h1>
        <p>Freelance Software engineer</p>
    </hgroup>
    <div style="display: flex;">
        <a href="https://github.com/vlindhol"><i class='bx bxl-github'></i></a>
        <a href="https://x.com/lindholm_dev"><i class='bx bxl-twitter'></i></a>
        <a href="https://www.linkedin.com/in/villelindholm/"><i class='bx bxl-linkedin-square'></i></a>
    </div>
</div>
{{ end }}